.gitignore
.currlock
.dropbox.attr
files/
backup/
logs/

*.xml
*.docx
*.ico
*.png
*.clip
*.ppk
*.bak
*.exe
*.rtf
*.mm
*.tmp
*.csv
*.zip
*.xlsx

AEI.ahk
ActiveWindowInfo.ahk
CMsgBox.ahk
Class_LV_Colors.ahk
Encrypt.ahk
EntryForm.ahk
StrX.ahk
TC_EX.ahk
TC_EX_Sample.ahk
XConfig.ahk
enc.ahk
sift3.ahk
testcols.ahk
test.ahk
xml.ahk
